doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        title Portfolio
        link(rel="icon", type="image/x-icon", href="assets/favicon.ico")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap", rel="stylesheet")
        link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css", rel="stylesheet")
        link(href="css/styles.css", rel="stylesheet")
    body(class="d-flex flex-column h-100")
        main(class="flex-shrink-0")
            nav(class="navbar navbar-expand-lg navbar-light bg-white py-3")
                .container(px-5)
                    a.navbar-brand(href="index.html") 
                        span.fw-bolder.text-primary HOME
                    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                    .collapse.navbar-collapse(id="navbarSupportedContent")
                        ul.navbar-nav.ms-auto.mb-2.mb-lg-0.small.fw-bolder
                            li.nav-item
                                a.nav-link(href="index.html") Home
                            li.nav-item
                                a.nav-link(href="resume.html") Resume
                            li.nav-item
                                a.nav-link(href="projects.html") Projects
                            li.nav-item
                                a.nav-link(href="contact.html") Contact

            header.py-5
                .container(px-5.pb-5)
                    .row(gx-5.align-items-center)
                        .col-xxl-5
                            .text-center.text-xxl-start
                                .badge.bg-gradient-primary-to-secondary.text-white.mb-4 
                                    | Design &middot; Development &middot; Marketing
                                .fs-3.fw-light.text-muted 
                                    | I can help your business by 
                                h1.display-3.fw-bolder.mb-5 
                                    span.text-gradient.d-inline Developing cutting-edge applications and grow smarter.
                                .d-grid.gap-3.d-sm-flex.justify-content-sm-center.justify-content-xxl-start.mb-3
                                    a.btn.btn-primary.btn-lg.px-5.py-3.me-sm-3.fs-6.fw-bolder(href="resume.html") Resume
                                    a.btn.btn-outline-dark.btn-lg.px-5.py-3.fs-6.fw-bolder(href="projects.html") Projects

                        .col-xxl-7
                            .d-flex.justify-content-center.mt-5.mt-xxl-0
                                .profile.bg-gradient-primary-to-secondary
                                    img.profile-img(src="assets/profile.png", alt="...")
                                    .dots-1
                                        svg(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 191.6 1215.4" style="enable-background: new 0 0 191.6 1215.4" xml:space="preserve")
                                            g(transform="translate(0.000000,1280.000000) scale(0.100000,-0.100000)")
                                                path(d="M227.7,12788.6c...") // truncated for brevity

            section.bg-light.py-5
                .container(px-5)
                    .row(gx-5.justify-content-center)
                        .col-xxl-8
                            .text-center.my-5
                                h2.display-5.fw-bolder 
                                    span.text-gradient.d-inline About Me
                                p.lead.fw-light.mb-4 My name is Sarvesh.
                                p.text-muted I am a 3rd-year Computer Science student and a passionate FOSS enthusiast with a strong interest in Android rooting and device OS customization. With over 2 years of experience in Python, I am deeply interested in advancing my skills in AI and Machine Learning development.
                                .d-flex.justify-content-center.fs-2.gap-4
                                    a.text-gradient(href="https://stackoverflow.com/users/24226381/sarvesh") 
                                        i.bi.bi-stack-overflow
                                    a.text-gradient(href="https://www.linkedin.com/in/sarvesh-nanthakumar/") 
                                        i.bi.bi-linkedin
                                    a.text-gradient(href="https://github.com/Sarvesh-N") 
                                        i.bi.bi-github
                                    a.text-gradient(href="https://discord.com/users/sarvesh_99_") 
                                        i.bi.bi-discord

        footer.bg-white.py-4.mt-auto
            .container(px-5)
                .row.align-items-center.justify-content-between.flex-column.flex-sm-row
                    .col-auto 
                        div.small.m-0 Copyright &copy; My Website 2025

        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js")
        script(src="js/scripts.js")
