doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    title Resume
    // Favicon
    link(rel="icon" type="image/x-icon" href="assets/favicon.ico")
    // Custom Google font
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")
    // Bootstrap icons
    link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet")
    // Core theme CSS (includes Bootstrap)
    link(href="css/styles.css" rel="stylesheet")
  body.d-flex.flex-column.h-100.bg-light
    main.flex-shrink-0
      // Navigation
      nav.navbar.navbar-expand-lg.navbar-light.bg-white.py-3
        .container.px-5
          a.navbar-brand(href="index.html")
            span.fw-bolder.text-primary RESUME
          button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
          .collapse.navbar-collapse#navbarSupportedContent
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0.small.fw-bolder
              li.nav-item
                a.nav-link(href="index.html") Home
              li.nav-item
                a.nav-link(href="resume.html") Resume
              li.nav-item
                a.nav-link(href="projects.html") Projects
              li.nav-item
                a.nav-link(href="contact.html") Contact
      // Page Content
      .container.px-5.my-5
        .text-center.mb-5
          h1.display-5.fw-bolder.mb-0
            span.text-gradient.d-inline Resume
        .row.gx-5.justify-content-center
          .col-lg-11.col-xl-9.col-xxl-8
            // Download resume button
            .d-flex.align-items-center.justify-content-between.mb-4
              h2.text-primary.fw-bolder.mb-0 Resume
              a.btn.btn-primary.px-4.py-3(href="assets/sarvesh_v3.pdf")
                .d-inline-block.bi.bi-download.me-2
                | Download Resume
            // Education Section
            section
              h2.text-secondary.fw-bolder.mb-4 Education
              // Education Card 1
              .card.shadow.border-0.rounded-4.mb-5
                .card-body.p-5
                  .row.align-items-center.gx-5
                    .col.text-center.text-lg-start.mb-4.mb-lg-0
                      .bg-light.p-4.rounded-4
                        .text-secondary.fw-bolder.mb-2 2015 - 2017
                        .mb-2
                          .small.fw-bolder SNS college of technology
                          .small.text-muted Coimbatore, Tamilnadu
                        .fst-italic
                          .small.text-muted Bachelors's
                          .small.text-muted Computer Science and Engineering
                    .col-lg-8
                      div I am a 3rd-year student pursuing a degree in Computer Science and Engineering, while actively gaining hands-on experience in Machine Learning and Artificial Intelligence.
              // Education Card 2
              .card.shadow.border-0.rounded-4.mb-5
                .card-body.p-5
                  .row.align-items-center.gx-5
                    .col.text-center.text-lg-start.mb-4.mb-lg-0
                      .bg-light.p-4.rounded-4
                        .text-secondary.fw-bolder.mb-2 2018 - 2020
                        .mb-2
                          .small.fw-bolder Suguna ripv school
                          .small.text-muted Coimbatore, Tamilnadu
                        .fst-italic
                          .small.text-muted High School
                          .small.text-muted Computer Science
                    .col-lg-8
                      div I completed my 12th grade at Suguna RIPV School, specializing in Computer Science. This provided me with a strong foundation in programming, algorithms, and computational thinking.
            // Divider
            .pb-5
            // Skills Section
            section
              // Skillset Card
              .card.shadow.border-0.rounded-4.mb-5
                .card-body.p-5
                  // Professional skills list
                  .mb-5
                    .d-flex.align-items-center.mb-4
                      .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                        i.bi.bi-gear
                      h3.fw-bolder.mb-0
                        span.text-gradient.d-inline Professional Skills
                    .row.row-cols-1.row-cols-md-3.mb-4
                      .col.mb-4.mb-md-0
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Tableau
                      .col.mb-4.mb-md-0
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Machine Learning
                      .col
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Web Development
                    .row.row-cols-1.row-cols-md-3
                      .col.mb-4.mb-md-0
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Data Science
                      .col.mb-4.mb-md-0
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Power BI
                      .col
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 User Interface Design
                  // Tools
                  .mb-5
                    .d-flex.align-items-center.mb-4
                      .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                        i.bi.bi-tools
                      h3.fw-bolder.mb-0
                        span.text-gradient.d-inline Tools
                    .row.row-cols-1.row-cols-md-3.mb-4
                      .col.mb-4.mb-md-0
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Linux
                      .col.mb-4.mb-md-0
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Jupyter Notebook
                      .col
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Vs code
                    .row.row-cols-1.row-cols-md-3.mb-4
                      .col.mb-4.mb-md-0
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Pycharm
                      .col.mb-4.mb-md-0
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Neovim
                      .col
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Github
                    .row.row-cols-1.row-cols-md-3
                      .col.mb-4.mb-md-0
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Docker
                  // Languages list
                  .mb-0
                    .d-flex.align-items-center.mb-4
                      .feature.bg-primary.bg-gradient-primary-to-secondary.text-white.rounded-3.me-3
                        i.bi.bi-code-slash
                      h3.fw-bolder.mb-0
                        span.text-gradient.d-inline Languages
                    .row.row-cols-1.row-cols-md-3.mb-4
                      .col.mb-4.mb-md-0
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 HTML
                      .col.mb-4.mb-md-0
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 CSS
                      .col
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 C++
                    .row.row-cols-1.row-cols-md-3
                      .col.mb-4.mb-md-0
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Python
                      .col.mb-4.mb-md-0
                        .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Java
                      // .col
                      //   .d-flex.align-items-center.bg-light.rounded-4.p-3.h-100 Node.js
    // Footer
    footer.bg-white.py-4.mt-auto
      .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
          // .col-auto
          //   .small.m-0 Copyright &copy; Your Website 2023
          // .col-auto
          //   a.small(href="#!") Privacy
          //   span.mx-1 &middot;
          //   a.small(href="#!") Terms
          //   span.mx-1 &middot;
          //   a.small(href="#!") Contact
    // Bootstrap core JS
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js")
    // Core theme JS
    script(src="js/scripts.js")
